{% extends 'base.html' %}

{% block content %}

<header class="masthead bg-index text-white text-center

           py-4">

  <div class="container d-flex align-items-center flex-

  column pt-2">

    <h2>FitJacket</h2>

    <p>Your Fitness Journey Begins Here!</p>

  </div>

</header>

<div class="p-3">

  <div class="container">

    <div class="row mt-3">

      <div class="col mx-auto text-center mb-3">

          <div class="card mb-3">
  <img src="/static/img/fitbit.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">A fitness app built around you.</h5>

  </div>
</div>
<div class="card">
  <div class="card-body">
    <h5 class="card-title">Be Healthy. Together.</h5>
  </div>
  <img src="/static/img/fitjacket.jpg" class="card-img-bottom" alt="...">
</div>


      </div>

    </div>

  </div>

</div>

{% endblock content %}